@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    cursor: pointer;
}
.body{
  background: radial-gradient(circle,#a3c9e2,#9618f7);
  overflow-x: hidden;
}
#minicircle{
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
    width: 10px;
    height:10px;
    position: absolute;
    border-radius: 50%;
    z-index: 9999;
    background-color:black;
    
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  .sidebar.open{
    width: 250px;
  }
  .sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: right;
  }
  .sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }
  .sidebar input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #1d1b31;
  }
  .sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
  }
  .sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #1d1b31;
    color: #FFF;
  }
  .sidebar.open .bx-search:hover{
    background: #1d1b31;
    color: #FFF;
  }
  .sidebar .bx-search:hover{
    background: #FFF;
    color: #11101d;
  }
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
  }
  .sidebar li a:hover{
    background: #FFF;
  }
  .sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile{
    width: 250px;
  }
  .sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name,
  .sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .sidebar li.profile .job{
    font-size: 12px;
  }
  .sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #1d1b31;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  .sidebar.open .profile #log_out{
    width: 50px;
    background: none;
  }
  .home-section{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }
  .home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }
  @media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }

.main-container{
    margin-left: 78px;
    margin-right: 10px;
    background: radial-gradient(circle,#5a585a,#090947);
    height: 100vw;
    width: 90rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.heading{
    margin-top: 2rem;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-family:'Poppins',sans-serif;
    font-weight: 600;
    background: linear-gradient(90deg,#00dbde,#fc00ff);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.symbol{
    font-size: 2rem;
    
}
.feature-card:nth-child(1){
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));}
.feature-card:nth-child(2){
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}
.feature-card:nth-child(3){
    background: radial-gradient(circle at 0.8% 3.1%, rgb(255, 188, 224) 0%, rgb(170, 165, 255) 46%, rgb(165, 255, 205) 100.2%);
}
.feature-card:nth-child(4){
    background: linear-gradient(109.6deg, rgb(17, 151, 147) 11.2%, rgb(154, 214, 212) 55.4%, rgb(255, 233, 171) 100.2%);
}
.feature-card:nth-child(5){
    background: linear-gradient(135deg, rgba(57, 196, 255, 0.482) 10%, rgb(174, 81, 154) 100%);
}
.feature-card:nth-child(6){
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.feature-card:nth-child(7){
    background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));}
.feature-card:nth-child(8){
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
}
.feature-card:nth-child(9){
    background: radial-gradient(circle at 0.8% 3.1%, rgb(255, 188, 224) 0%, rgb(170, 165, 255) 46%, rgb(165, 255, 205) 100.2%);
}
.feature-card:nth-child(10){
    background: linear-gradient(109.6deg, rgb(17, 151, 147) 11.2%, rgb(154, 214, 212) 55.4%, rgb(255, 233, 171) 100.2%);
}
.feature-card:nth-child(11){
    background: linear-gradient(135deg, rgba(57, 196, 255, 0.482) 10%, rgb(174, 81, 154) 100%);
}
.feature-card:nth-child(12){
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.card-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
    gap: 20px;
    animation: slideFromLeft 1s ease forwards;
    align-items: center;
    width:80rem ;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}
@keyframes slideFromLeft{
    0% { 
        opacity:0;
        transform: translateX(-100%);
    }
    100%{
        opacity:1;
        transform:translateX(0%);
    }
}

.feature-card{
    display: flex;
    flex-direction: row;
    height: 100px;
    width:100%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 15px;
    transition: transform 0.3s ease ,box-shadow 0.3s ease;
    padding: 10px 30px 10px 20px;
}

.feature-card-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.feature-card:hover{
    transform:scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    border:1px solid black;
}

.subject a{
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    color: black;
}

button{
    background: white;
    border-radius: 20px;
    color: black;
    width: 100px;
    height: 30px;
    transition: transform 0.3s ease ,box-shadow 0.3s ease;
    font-weight: 500;
}
button:hover{
    background: rgb(0, 0, 0);
    color: white;
}

.container{
    text-align: center;
    display: flex;
    padding: 30px;
}
.content-bottom-top{
    border: #11101D;
    background-color: #f2dd6e;
      background-image: linear-gradient(319deg, #f2dd6e 0%, #cff27e 37%, #ef959d 100%);

    border-radius: 10px;
    height: 200px;
    margin-right: 30px;
}
.content-bottom-bottom{
    border: #11101D;
    background-color: #c11d38;
    background-image: linear-gradient(315deg, #c11d38 0%, #ffc857 74%);
    border-radius: 10px;
    height: 200px;
}
button a{
    text-decoration: none;
}
